@import "tailwindcss";

@theme {
  --font-manrope: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
